.AdminSweaterContainer {
    background-color: white;
    text-align: center;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0.9;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    margin-top: 8rem;
    margin-left: 1.25%;
    width: 97.5%;
    height: 47rem;
    z-index: 650;
}