.Header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.HeaderTitle {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.Container {
    position: relative;
}

.ContainerMenu {
    position: absolute;
    right: 12.5px;
    top: calc(100% + .5rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0.9;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    z-index: 500;
}



.ContainerMenu a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    color: #000;
    text-decoration: none;
}

.ContainerMenu a:hover {
    color: grey;
}

.Container > .hamburger.is-active + .ContainerMenu {
    opacity: 0.9;
    transform: translateY(0);
    pointer-events: auto;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 4px;
    transition: 0.4s;
    box-shadow: lightgrey 0.1em 0.1em 0.2em;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-6.5px, -6px);
}

.searchDiv {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    height: 30px;
    width: 50%;
    opacity: 0.7;
}

#WhiteMagnifyingGlass {
    height: 2rem;
    width: 2rem;
    margin-left: 51rem;
    margin-top: 0.225rem;
    font-weight: bolder;
}

#GreyMagnifyingGlass {
    height: 2.5rem;
    width: 2.5rem;
    margin-top: -0.3rem;
    margin-right: -1.4rem;
}

#xIconSearch {
    height: 1rem;
    width: 1rem;
    margin-right: 10px;
    margin-bottom: 3px;
}

#WhiteMagnifyingGlass:hover, #xIconSearch:hover {
    opacity: 0.75;
}

#searchBar {
    height: 1.5rem;
    width: 75%;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 1rem;
    border: none;
    outline: none;
}