.HoodieContainer {
    position: relative;
    margin-top: 17.5%;
    margin-left: 42.5%;
    width: 400px;
    height: 245px;
    background-color: white;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0.9;
    transform: translateY(-10px);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    z-index: 600;
}

.HoodieImage {
    width: 210px;
    height: 140px;
}

.HoodieInfoContainer {
    position: relative;
    left: 15rem;
    bottom: 9.25rem;
    font-size: 20px;
}

.HoodieAbout {
    font-size: 15px;
    width: 10rem;
}

.HoodieButton {
    position: relative;
    right: 13.4rem;
    bottom: 2.3rem;
    width: 10rem;
    height: 3rem;
    font-size: 30px;
    font-weight: bolder;
    color: grey;
    text-shadow: lightblue 0.1em 0.1em 0.2em;
}

.HoodieButton:hover {
    opacity: 0.3;
}

.HoodieGrid {
    position: absolute;
    margin-left: 19.7%;
    margin-top: 10%;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
}